<ion-tab-bar slot="bottom">
  
  <ion-tab-button  href="/terreno1">
    <ion-icon name="nutrition-outline" color = "danger"></ion-icon>
    <ion-label>Terreno 1</ion-label>
  </ion-tab-button>
  
  <ion-tab-button href="/terreno2">
    <ion-icon name="nuclear-outline" class ="color" ></ion-icon>
    <ion-label>Terreno 2</ion-label>
  </ion-tab-button>
  
  <ion-tab-button href="/informacion">
    <ion-icon name="map-outline" color = "primary"></ion-icon>
    <ion-label>Cómo llegar</ion-label>
  </ion-tab-button>

  <ion-tab-button href="/galeria">
    <ion-icon name="images" color = "primary"></ion-icon>
    <ion-label>Galeria</ion-label>
  </ion-tab-button>

</ion-tab-bar>


