
<ion-header class ="ion-no-border">
  <ion-toolbar >
    <ion-title class="ion-text-center">
      <ion-text class="letra">Sembradios SJ ❦</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
   <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size="9.5">
        <ion-card>
         <ion-card-header class="ion-text-center" color="success">
           <ion-card-title class="letra">
             ¡Bienvenido a Sembradíos SJ!
           </ion-card-title>
         </ion-card-header>
         <ion-card-content>
           <ion-img  class="img"  src="/assets/svg/farmer.svg"></ion-img>
         </ion-card-content>
       </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size="9 ">
       <ion-card>
         <ion-card-header class="ion-text-center" color="success">
           <ion-card-title class="letra">
              Contamos con las mejores cosechas
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
           <ion-img  class="img"  style ="margin-bottom: 7px;" src="/assets/svg/vegetables.svg"></ion-img>
           <app-productos></app-productos>
         </ion-card-content>
       </ion-card> 
     </ion-col>
   </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size="9.5">
        <ion-card>
         <ion-card-header class="ion-text-center" color="success">
           <ion-card-title class="letra">
              Las mejores tierras del país
           </ion-card-title>
         </ion-card-header>
         <ion-card-content>
           <ion-img  style="    margin: auto;
             width: 70%;  
             margin-top: 15px;"  src="/assets/svg/treeplant.svg"></ion-img>
         </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6" size="9">
        <ion-card>
          <ion-card-header class="ion-text-center" color="success">
           <ion-card-title class="letra">
             Equipo de Alta Calidad
           </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img  class="img"  src="/assets/svg/tractor.svg"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>



