
ion-text.letra
{
    font-family: 'Spectral SC';
    color:rgb(121, 190, 55);
    font-size: 1.5rem;
}
.img{
    
    margin: auto;
    width: 30%;  
    margin-top: 10px; 
  }

.letra{
    font-size: 15px;
}

.color{
    color:rgb(121, 190, 55);;
}
